<div class="user__detail">
  <mat-list>
    <mat-list-item>
      <span class="mat-h2">Detalhes do usuário</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">Nome:</span>
      <span class="mat-h5">{{ user.nome | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">Email:</span>
      <span class="mat-h5">{{ user.email | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">telefone:</span>
      <span class="mat-h5">{{ user.telefone | phone }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">Endereço:</span>
      <span class="mat-h5">{{ user.endereco | address }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">Status:</span>
      <span class="mat-h5">{{ user.ativo | status }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">Função:</span>
      <span class="mat-h5">{{ user.funcao | dashIfEmpty }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span class="mat-h4">Data de Cadastro:</span>
      <span class="mat-h5">{{
        user.dataCadastro | date : "dd/MM/yyyy" | dashIfEmpty
      }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
