<div class="filter">
  <div class="filter__form">
    <div class="filter__name">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Ex. Fulano da Silva"
          [(ngModel)]="filterOptions.name"
        />
      </mat-form-field>
    </div>

    <div class="filter__date">
      <mat-form-field>
        <mat-label>Data de Cadastro</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Data início"
            [(ngModel)]="filterOptions.startDate"
          />
          <input
            matEndDate
            placeholder="Data final"
            [(ngModel)]="filterOptions.endDate"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="filter__status">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="filterOptions.status">
          <mat-option *ngFor="let status of statusList" [value]="status.value">
            {{ status.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filter__button">
      <button mat-raised-button color="primary" (click)="onFilter()">
        Filtrar
      </button>
    </div>
  </div>
</div>
